<div class="row align-middle">
    <div class="col-md-6">
        <h3>Gatekeeper Proxy</h3>
        <div class="list-group">
            <a href="http://gateproxy:3000/info"
               type="button"
               class="gate-url list-group-item list-group-item-action">Unsecured resource</a>
            <a href="http://gateproxy:3000/customers/list"
               type="button"
               class="gate-url list-group-item list-group-item-action">Only customers</a>
            <a href="http://gateproxy:3000/merchants/list"
               type="button"
               class="gate-url list-group-item list-group-item-action">Only merchants</a>
            <a href="http://gateproxy:3000/common/info"
               type="button"
               class="gate-url list-group-item list-group-item-action">Common</a>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Kong Proxy</h3>
        <div class="list-group">
            <a href="http://kongproxy:8000/info"
               type="button"
               class="kong-url list-group-item list-group-item-action">Unsecured resource</a>
            <a href="#"
               type="button"
               onclick="loadCustomers();return false;"
               class="kong-url list-group-item list-group-item-action">Only customers</a>
            <a href="#"
               type="button"
               onclick="loadMerchants();return false;"
               class="kong-url list-group-item list-group-item-action">Only merchants</a>
            <a href="#"
               type="button"
               onclick="loadCommonInfo();return false;"
               class="kong-url list-group-item list-group-item-action">Common</a>
        </div>
    </div>
</div>