<div class="row align-middle">
    <div class="col-md-6">
        <button class="btn btn-info" onclick="goBack();return false;">Back</button>
        <div class="card" style="width: 35rem;">
            <img alt="Merchant" class="card-img-top" src="images/cat_rascal.png">
            <div class="card-body">
                <h5 class="card-title mt-3" id="username"></h5>
                <div class="table table-striped">
                    <div class="row">
                        <div class="col-md-4">
                            <h6 class="mb-0">Keycloak ID</h6>
                        </div>
                        <div class="col-md-8 text-secondary" id="keycloakId">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-md-8 text-secondary" id="fullName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h6 class="mb-0">First Name</h6>
                        </div>
                        <div class="col-md-8 text-secondary" id="firstName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h6 class="mb-0">Last Name</h6>
                        </div>
                        <div class="col-md-8 text-secondary" id="lastName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-md-8 text-secondary" id="email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h6 class="mb-0">Roles</h6>
                        </div>
                        <div class="col-md-8 text-secondary" id="roles">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h6 class="mb-0">Groups</h6>
                        </div>
                        <div class="col-md-8 text-secondary" id="groups">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Contact list </h2>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
            </tr>
            </thead>
            <tbody id="merchants">
            </tbody>
        </table>
    </div>
</div>
